{% extends "base.html" %}

{% block content %}

<h2>📚 Subjects</h2>

<form method="POST">

    <input
        class="form-control mb-2"
        name="subject_name"
        placeholder="Subject Name"
        required>

    <input
        class="form-control mb-2"
        name="subject_code"
        placeholder="Subject Code"
        required>

    <button class="btn btn-success">
        Add Subject
    </button>

</form>

<hr>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

    {% for subject in subjects %}

    <tr>

        <td>{{ subject.id }}</td>
        <td>{{ subject.subject_name }}</td>
        <td>{{ subject.subject_code }}</td>

        <td>
            <a href="{{ url_for('delete_subject', id=subject.id) }}"
               class="btn btn-danger btn-sm"
               onclick="return confirm('Are you sure you want to delete this subject?')">
                Delete
            </a>
        </td>

    </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}